<html>
  <head>
    <title>About ~ Rolling Pine Bike Rentals™</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/about.css">
  </head>
  
  <body>
    <header>
      <img src="assets/logo.png" alt="rpbikes ego" id="logo"/>
      <nav>
        <ul>
          <li>
            <a href="tel:19368270940" class="nav-links">Rent</a>
          </li>
          <li>
            <a href="about.html" class="nav-links">About</a>
          </li>
          <li>
            <a href="tel:19368270940" class="nav-links">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    
    <main>
      <article>
        <p>
          <figure style="float: left">
            <img src="assets/truck.jpg" id="about-truck" alt="Caleb standing by his truck loaded full of bikes">
            <figcaption></figcaption>
          </figure>
TEST
         Rolling Pine Bike Rentals provides an affordable way to navigate through the wonders of The Woodlands and its surrounding areas. Currently the 
         team consist of two individuals Caleb Lazano; Bike Virtuoso and Andrew Gay; Software Guru. RP Bikes have been renting bikes for almost a year now
         and currently have 12 bikes to choose from with a variety of 3 biking styles. 
        </p>
        <p class="clear">&nbsp;</p>
      </article>
    </main>
    
    <footer class="site-footer">
        <img src="assets/github.svg" class="social-icons"/>
        <hr>
        &copy; Rolling Pine Bike Rentals LLC
    </footer>
  </body>
  
  <link rel="stylesheet" type="text/css" href="css/about.css">
</html>

<style>

